.marker-group {
  .bord {
    width: 90px;
    height: 80px;
    border-radius: 3px;
    background: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
  }
  .row {
    height: 24px;
    &.head {
      height: 32px;
    }
    &.green{
        background: #7AD96B;
    }
    &.red{
        background: #ED4F4F;
    }  
    &.bot{
        border-radius: 0 0 3px 3px;
    }

    display: flex;
  }
  .svg{
      width: 0px;
      height: 16px;
      object-fit: contain; 
      margin-left: 8px; 
      margin-top: 8px;
  }
  .text {
    width: 56px;
    height: 32px;
    font-family: NotoSansCJKtc;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.2px;
    color: #6d6969; 
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .count {
    text-align: center;
    width: 48px;  
    height: 32px;
    font-family: NotoSansCJKtc;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.4px;
    color: #6d6969; 
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .text2 {  
    width: 32px;
    height: 24px;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    font-family: NotoSansCJKtc;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.2px;
    color: #ffffff;
    margin-left:8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .count2 {  
      width: 64px;
    height: 24px;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    font-family: NotoSansCJKtc;
    font-size: 14px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.4px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
